<!DOCTYPE html>
<html>
  <head>
    <title>Home | Hacker News</title>
  </head>
    <%= render 'header' %>
    <%= render 'menu' %>
    
    <div class="page-content">
      <div class="contributions">
          
        <% @contributions.each.with_index(1) do |contribution, index| %>
      
          <div class="item">
            <span class="rank"><%= index %>.</span>
            <div>
            <div>
              <% if (contribution.url != "" ) then %>
                <span class="titulo"><a  href="http://<%= contribution.url %>"><%= contribution.titulo %></a></span>
                <span class="url"><a href="http://<%= contribution.url %>">(<%= contribution.url %>)</a></span>
              <% else %>
                <span class="titulo"><%= link_to "#{contribution.titulo}", contribution%></span>
                
              
              <% end %>
            </div>
            <div class="bottom">
                <span> <%= contribution.get_upvotes.size %> points,</span>
                
                <%= link_to like_contribution_path(contribution), method: :put do %>
                  Upvote
                  <%= contribution.get_upvotes.size %>
                <% end %>

                
                <span>by <%= link_to "#{getAuthor(contribution.user_id)}", "/users/#{contribution.user_id}", {style: "color: grey"}%></span>
                <span><%= link_to "#{time_ago_in_words(contribution.created_at)} ago", contribution %> </span>
                <span><%= link_to "#{contribution.comments.size + contribution.replies.size} comments", contribution %></span>
            </div>
            </div>
          </div>
        
        <% end %>
      
      </div>
      
    </div>
    <%= render 'footer' %>
  
</html>