<%= form_for(Reply.new) do |f| %>
  <% if Reply.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(Reply.new.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% Reply.new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  
  <div class="field">
    <%= f.hidden_field(:comment_id, :value => @comment.id) %>
  </div>
  
  <div class="field">
    <%= f.hidden_field(:contribution_id, :value => @comment.contribution_id) %>
  </div>
  
  <div class="field">
     <%= f.hidden_field(:user_id, :value => 6) %> <!-- CAMBIAR CUANDO TENGAMOS USUARIOS -->
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
