<li id="ask-<%= ask.id %>">
  
  <span>
    <%= ask.titulo %>
  </span>

  <span>
    <%= ask.puntos %>
  </span>
  
  <br>
  
  <span>
    points by
  </span>

  <span>
     <%= link_to ask.user.name, ask.user %>
  </span>
  
  <span>
    <%= link_to time_ago_in_words(ask.created_at), ask %>
  </span>
  
  <span>
    <%= link_to "#{ask.comments.size} comments", ask %>
  </span>
  <span>
    <%= link_to 'Destroy', ask, method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
</li>
<br>