<div>
  <aside>
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div>
    <% if @user.asks.any? %>
      <h3>Asks (<%= @user.asks.count %>)</h3>
      <ol>
        <%= render @asks %>
      </ol>
      <%= will_paginate @asks %>
    <% end %>
  </div>
</div>




<% @asks.each.with_index(1) do |ask, index| %>
      
  <div class="item">
    <span class="rank"><%= index %>.</span>
    <div>
    <div>
        <span class="titulo"><%= link_to "#{ask.titulo}", ask%></span>
    </div>
    <div class="bottom">
        <span><%= ask.puntos %> points,</span>
        <span>by <%= link_to "#{getAuthor(ask.user_id)}", "/users/#{ask.user_id}", {style: "color: grey"}%></span>
        <span><%= link_to "#{time_ago_in_words(ask.created_at)} ago", ask %> </span>
        <span><%= link_to "#{ask.comments.size} comments", ask %></span>
    </div>
    </div>
  </div>

<% end %>