
<%= render 'static_pages/header' %>
<%= render 'static_pages/menu' %>
<div class="page-content">
  <div class="contributions">
  <% @contributions.each.with_index(1) do |contribution, index| %>
    <div class="item">
      <div>
        <div>
          <span><%= index %></span>
          <span class="titulo"><%= link_to "#{contribution.titulo}", contribution%></span>
        </div>
        <div class="bottom">
            <span><%= contribution.puntos %> points,</span>
            <span>by <%= link_to "#{contribution.user_id}", "/users/#{contribution.user_id}", {style: "color: grey"}%></span>
            <span><%= link_to "#{time_ago_in_words(contribution.created_at)} ago", contribution %> </span>
            <span><%= link_to "#{contribution.comments.size + contribution.replies.size} comments", contribution %></span>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<%= render 'static_pages/footer' %>