<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :created %><br>
    <%= f.number_field :created %>
  </div>
  <div class="field">
    <%= f.label :karma %><br>
    <%= f.number_field :karma %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_field :about %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :showdead %><br>
    <%= f.check_box :showdead %>
  </div>
  <div class="field">
    <%= f.label :noprocrast %><br>
    <%= f.check_box :noprocrast %>
  </div>
  <div class="field">
    <%= f.label :maxvisit %><br>
    <%= f.number_field :maxvisit %>
  </div>
  <div class="field">
    <%= f.label :minaway %><br>
    <%= f.number_field :minaway %>
  </div>
  <div class="field">
    <%= f.label :delay %><br>
    <%= f.number_field :delay %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
