<table>
  <tbody>
    <tr>
      <td>User</td>
      <td> <%=@user.name %> </td>
    </tr>
    <tr>
      <td>karma</td>
      <td><%=@user.karma %></td>
    </tr>
    <tr>
      <td>about</td>
      <td><%=@user.about %></td>
    </tr>
    <tr>
      <td> <%= link_to 'submissions', contributions_path(@user) %> </td>
    </tr>
    <tr>
      <td> <%= link_to 'comments', users_path %> git</td>
    </tr>
  </tbody>
</table>

