<li id="contribution-<%= contribution.id %>">
  
  <span>
    <%= contribution.titulo %>
  </span>
  
  <span>
    (<%= contribution.url %>)
  </span>
  
  <span>
    <%= contribution.puntos %>
  </span>
  
  <br>
  
  <span>
    Points by
  </span>

  <span>
     <%= link_to contribution.user.name, contribution.user %>
  </span>
  
  <span>
    <%= link_to time_ago_in_words(contribution.created_at), contribution %>
  </span>
  
  <span>
    <%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
</li>
<br>