
      
    <div class="item">
      <div>
      <div>
          <span class="titulo"><%= link_to "#{contribution.titulo}", contribution%></span>
          <span class="url"><a href="http://<%= contribution.url %>">(<%= contribution.url %>)</a></span>
      </div>
      <div class="bottom">
          <span><%= contribution.puntos %> points,</span>
          <span>by <%= link_to "#{getAuthor(contribution.user_id)}", "/users/#{contribution.user_id}", {style: "color: grey"}%></span>
          <span><%= link_to "#{time_ago_in_words(contribution.created_at)} ago", contribution %> </span>
          <span><%= link_to "#{contribution.comments.size + contribution.replies.size} comments", contribution %></span>
      </div>
      </div>
    </div>
        


<div>
  <aside>
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div>
    <% if @user.contributions.any? %>
      <h3>Contributions (<%= @user.contributions.count %>)</h3>
      <ol>
        <%= render @contributions %>
      </ol>
      <%= will_paginate @contributions %>
    <% end %>
  </div>
</div>
