<%= render 'static_pages/header' %>
    <%= render 'static_pages/menu' %>

<h1>Submit</h1>

<%= render 'form' %>

<p>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</p>

<%= link_to 'Back', contributions_path %>
<%= render 'static_pages/footer' %>