  <span>
    <%= @contribution.titulo %>
  </span>
  
  <span>
    (<%= @contribution.url %>)
  </span>
  
  <span>
    <%= @contribution.puntos %>
  </span>
  
  <br>
  
  <span>
    points by
  </span>

  <span>
     <%= link_to @contribution.user.name, @contribution.user %>
  </span>
  
  <span>
    <%= link_to time_ago_in_words(@contribution.created_at), @contribution %>
  </span>

<% if @contribution.comments.empty? %>
  <h2>Comments</h2>
  <%= render @contribution.comments %>
<% end %>

<h2>Add a comment:</h2>
<%= render "comments/newComment" %>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contribution.comments.each do |comment| %>
      <tr>
        <td><%= comment.user %> </td>
      
        <br>
        <td><%= comment.content %> </td>
        <td><%= link_to 'Show', comment %></td>
        <td>User : <%= comment.user_id %></td>
        <td>Contribution : <%= comment.contribution_id %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
