
<%= render 'static_pages/header' %>
    <%= render 'static_pages/menu' %>
<div class="page-content">
  <div class="contributions">
    <div class="item">
      <div>
        <div>
          <span class="titulo">
            <%= @contribution.titulo %>
          </span>
          
          <span class="url">
            <% if @contribution.url != "" %>
            <a href="http://<%= @contribution.url %>">(<%= @contribution.url %>)</a>
            <% end %>
          </span>
        </div>
      
        <div class="bottom">
          <span>
            <%= @contribution.puntos %>
          </span>
          
          <span>
            points by
          </span>
        
          <span>
             <%= link_to @contribution.user.name, @contribution.user %>
          </span>
          
          <span>
            <%= link_to time_ago_in_words(@contribution.created_at), @contribution %>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br>
  <br>
  <%= render "comments/newComment" %>
  
  
  <%= link_to 'Edit', edit_contribution_path(@contribution) %> |
  <%= link_to 'Back', contributions_path %>
  
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @contribution.comments.each do |comment| %>
        <tr>
          <br>
          <td><%= comment.user %></td>
          <td><%= comment.content %> </td>
          <td><%= link_to 'Reply', comment %></td>
        </tr>
        <tr>
        <% comment.replies.each do |reply| %>
          <td><%= reply.content %></td> <!-- mejorar style -->
        </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'static_pages/footer' %>
