<% if @contribution.comments.empty? %>
  <h2>Comments</h2>
  <%= render @contribution.comments %>
<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

  <%=if false
  form_for(@comment) do |t| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= t.label :content %><br>
    <%= t.text_field :content %>
  </div>

  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>
<% end %>



<!--TODO ESTO NO SE HACE NUNCA -->
<% if false%>
<li id="notice"><%= notice %>
  <span>
    <strong>Titulo:</strong>
    <%= @contribution.titulo %>
  </span>
  <span>
    <strong>Url:</strong>
    <%= @contribution.url %>
  </span>
  <span>
    <strong>User:</strong>
    <%= @contribution.user.name %>
  </span>
  <span>
    Posted <%= time_ago_in_words(@contribution.created_at) %> ago.
  </span>
  <span>
    | <%= @contribution.comentarios %> <!-- cambiar cuando comentarios -->
  </span>
</li>
<% end %>

<% if false%>
<p>
  <strong>Titulo:</strong>
  <%= @contribution.titulo %>
</p>

<p>
  <strong>User:</strong>
  <%= @contribution.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @contribution.url %>
</p>

<p>
  <strong>Puntos:</strong>
  <%= @contribution.puntos %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @contribution.comentarios %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @contribution.tipo %>
</p>

<p>
  <strong>Text:</strong>
  <%= @contribution.text %>
</p>

<% end %>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
