<li id="notice"><%= notice %>
  <span>
    <strong>Titulo:</strong>
    <%= @contribution.titulo %>
  </span>
  <span>
    <strong>Url:</strong>
    <%= @contribution.url %>
  </span>
  <span>
    <strong>User:</strong>
    <%= @contribution.user.name %>
  </span>
  <span>
    Posted <%= time_ago_in_words(@contribution.created_at) %> ago.
  </span>
  <span>
    | <%= @contribution.comentarios %> <!-- cambiar cuando comentarios -->
  </span>
</li>

<% if false%>
<p>
  <strong>Titulo:</strong>
  <%= @contribution.titulo %>
</p>

<p>
  <strong>User:</strong>
  <%= @contribution.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @contribution.url %>
</p>

<p>
  <strong>Puntos:</strong>
  <%= @contribution.puntos %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @contribution.comentarios %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @contribution.tipo %>
</p>

<p>
  <strong>Text:</strong>
  <%= @contribution.text %>
</p>

<% end %>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
