<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  
  <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Hacker News', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <% if current_user %>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Sign out', 'https://hacker-news-gerard-gerard94.c9users.io/sign_out', method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Sign in with Twitter', 'https://hacker-news-gerard-gerard94.c9users.io/auth/twitter' %></li>
        </ul>
      <% end %>
    </div>
  </div>
  </nav>
  
  
  <% if current_user %>
    <%= current_user.name%>
  <% else %>
    no hi ha ningu logejat
  <% end %>
  

</body>

</html>
