<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <ul class="nav navbar-nav">
    <li><%= link_to 'Sign in with Twitter', 'https://hacker-news-vicalle12.c9users.io/auth/twitter' %></li>
  </ul>
  
  <%= @current_user %>

</body>
</html>
